@use "../utils/breakpoints" as *;

.grid {
  display: grid;
  gap: 2rem;
  width: 96%;
  margin-inline: auto;
  
  @include breakpoint-up(medium){
    width: 90%;
  }
}


@include breakpoint-up(xlarge) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    grid-template-areas: 
      "nav nav nav"
      "hero hero aside"
      "hero hero aside"
      "post post post"
    ;
  
    .nav {
      grid-area: nav;
    }
  
    .hero {
      justify-items: normal;
      grid-column: span 2;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "banner banner"
        "title text"
        "title btn"
      ;
      
      &__banner {
        grid-area: banner;
      }
      &__title {
        grid-area: title;
      }
      &__text {
        grid-area: text;
      }
      &__cta {
        grid-area: btn;
      }
    }
  }
}