@use "../base/typography" as *;
@use "../abstracts/colors" as *;
@use "../utils/breakpoints" as *;

.hero {
  display: grid;
  gap: 1.2rem;

  @include breakpoint-up(medium) {
    justify-items: center;
  }

  &__banner {
    background-image: url('/images/image-web-3-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 17.5rem;
  }

  &__title {
    font-size: calc(2.5rem + 0.390625vw);
    font-weight: $fw-xbold;
    line-height: 1.1;

    @include breakpoint-up(medium) {
      text-align: center;
    }
  }

  &__text {
    @include breakpoint-up(medium) {
      text-align: center;
    }
  }

  &__cta {
    width: 55%;
    font-size: calc(13px + 0.390625vw);
    color: #fff;
    background-color: $Softred;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 4px;
    cursor: pointer;

    &:hover, &:active {
      background-color: $Verydarkgraysihblue;
    }
  }
}