@use "../base/typography" as *;
@use "../abstracts/colors" as *;
@use "../utils/breakpoints" as *;

.hero {
  display: grid;
  margin-bottom: 2rem;
  gap: 1.2rem;

  @include breakpoint-up(medium) {
    justify-items: center;
  }

  &__banner {
    background-image: url('../../../images/image-web-3-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 20rem;

    @include breakpoint-up(large) {
      background-image: url('../../../images/image-web-3-desktop.jpg');
    }
  }

  &__title {
    font-size: calc(2.7rem + 0.390625vw);
    font-weight: $fw-xbold;
    line-height: 1.1;

    @include breakpoint-up(medium) {
      text-align: center;
    }
    @include breakpoint-up(xlarge) {
      text-align:initial;
      font-size: 4rem;
    }
  }

  &__text {
    @include breakpoint-up(medium) {
      text-align: center;
    }
    @include breakpoint-up(xlarge) {
      text-align:initial;
    }
  }

  &__cta {
    width: 50%;
    font-size: clamp(0.8125rem, 0.8125rem + 0.390625vw, 1rem);
    color: #fff;
    background-color: $Softred;
    border: none;
    letter-spacing: 0.25rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    cursor: pointer;

    &:hover, &:active {
      background-color: $Verydarkgraysihblue;
    }
  }
}