@use "../base/typography" as *;
@use "../abstracts/colors" as *;

.hero {
  display: grid;
  gap: 1.2rem;

  &__banner {
    background-image: url('/images/image-web-3-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 17.5rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: $fw-xbold;
    line-height: 1.1;
  }

  &__text {
    color: $Darkgrayishblue;
  }

  &__cta {
    width: 55%;
    color: #fff;
    background-color: $Softred;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 4px;
  }
}