@use "../utils/breakpoints" as *;
@use "../abstracts/colors" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__image {
    width: 40px;

    @include breakpoint-up(medium) {
      width: 60px;
    }
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @include breakpoint-up(large) {
      display: none;
    }

    span {
      display: flex;
      width: 2.5rem;
      background-color: black;
      height: 0.2rem;
      transition: all ease-in-out 200ms;

      &:not(:last-child){
        margin-bottom: 0.25rem;
      }
    }
  }

  ul {
    @include breakpoint-down(medium) {
      display: none;
    }

    li {
      &:not(:last-child){
        margin-right: 2.8rem;
      }
    }

    a {
      font-size: calc(13px + 0.390625vw);
      color: #000;
      
      &:hover, &:active {
        color: $Softred;
      }
    }
  }
}