@use "../utils/breakpoints" as *;
@use "../abstracts/colors" as *;

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__image {
    width: 2.25rem;

    @include breakpoint-up(medium) {
      width: 3.75rem;
    }
  }

  .hamburger-menu {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @include breakpoint-up(large) {
      display: none;
    }

    span {
      display: flex;
      width: 2.5rem;
      background-color: black;
      height: 0.2rem;
      transition: all ease-in-out 200ms;

      &:not(:last-child){
        margin-bottom: 0.25rem;
      }
    }
  }
  
  a {
    color: #000;
    
    &:hover, &:active {
      color: $Softred;
    }
  }
}