.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;

  &__image {
    width: 40px;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    span {
      display: flex;
      width: 2.5rem;
      background-color: black;
      height: 0.2rem;
      transition: all ease-in-out 200ms;

      &:not(:last-child){
        margin-bottom: 0.25rem;
      }
    }
  }
}