@use "../abstracts/colors" as *;
@use "../base/typography" as *;

.news {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: $Verydarkgraysihblue;

  &__title {
    font-size: calc(2rem + 0.390625vw);
    font-weight: 700;
    color: $Softorange;
  }

  &__group {
    display: grid;
    gap: 2rem;
  }

  &__card {
    display: grid;
    gap: 0.5rem;
  }

  &__link {
    font-size: calc(1.2rem + 0.390625vw);
    font-weight: $fw-bold;
    color: $Offwhite;
    cursor: pointer;

    &:hover, &:active {
      color: $Softorange;
    }
  }

  &__text {
    color: grey;
  }
}