@use "../abstracts/colors" as *;
@use "../base/typography" as *;
@use "../utils/breakpoints" as *;

.news {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: $Verydarkgraysihblue;

  @include breakpoint-up(large) {
    gap: 0;
  }

  &__title {
    font-size: clamp(2rem, 2rem + 0.390625vw, 2.3125rem);
    font-weight: 700;
    color: $Softorange;
  }

  &__group {
    display: grid;
    gap: 1.5rem;
  }

  &__card {
    display: grid;
    gap: 0.5rem;
  }

  &__link {
    font-size: calc(1.2rem + 0.390625vw);
    font-weight: $fw-bold;
    color: $Offwhite;
    cursor: pointer;

    @include breakpoint-up(large) {
      font-size: 1.125rem;
    }
    @include breakpoint-up(xlarge) {
      font-size: 1.5625rem;
    }

    &:hover, &:active {
      color: $Softorange;
    }
  }

  &__text {
    color: grey;
  }
}