@use "../abstracts/colors" as *;
@use "../base/typography" as *;

.post {
  display: grid;
  gap: 1rem;

  &__card {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 1rem;
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--img-1 {
      background-image: url('/images/image-retro-pcs.jpg');
    }
    &--img-2 {
      background-image: url('/images/image-top-laptops.jpg');
    }
    &--img-3 {
      background-image: url('/images/image-gaming-growth.jpg');
    }
  }

  &__description {
    display: grid;
    justify-content: space-between;
    gap: 0.6rem;
  }

  &__title {
    font-size: calc(2rem + 0.390625vw);
    color: $Grayishblue;
  }

  &__link {
    color: #000;
    font-size: calc(1rem + 0.390625vw);
    font-weight: $fw-xbold;
  }

  &__text {

  }
}