@use "./typography" as *;
@use "../abstracts/colors" as *;
@use "../utils/breakpoints" as *;

html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: $Offwhite;
  font-family: $font-primary;
  display: grid;
  margin-inline: auto;
  min-width: 320px;

  @include breakpoint-up(medium){
    width: 90%;
  }
}
